# See http://help.github.com/ignore-files/ for more about ignoring files.

# Automation / Publishing
.npmjs

# notes
/notes

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# Legacy temporary application sources
/apps/legacy/angular/older-angular-versions/angular-9/src
/apps/legacy/angular/older-angular-versions/angular-10/src
/apps/legacy/angular/older-angular-versions/angular-11/src
/apps/legacy/angular/older-angular-versions/angular-12/src
/apps/legacy/angular/older-angular-versions/angular-13/src

# Legacy temporary libraries
/apps/legacy/angular/older-angular-versions/angular-9/projects/ngx-feature-flag-router/src
/apps/legacy/angular/older-angular-versions/angular-10/projects/ngx-feature-flag-router/src
/apps/legacy/angular/older-angular-versions/angular-11/projects/ngx-feature-flag-router/src
/apps/legacy/angular/older-angular-versions/angular-12/projects/ngx-feature-flag-router/src
/apps/legacy/angular/older-angular-versions/angular-13/projects/ngx-feature-flag-router/src

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular
