<h1>How to Use</h1>

<p>
    1. Replace
    <code class="inline-highlight language-typescript">RouterModule.forChild()</code>
    with
    <code class="inline-highlight language-typescript">FeatureFlagRouterModule.forChild()</code>
</p>

<p>Before:</p>

<pre><code class="language-typescript">{{ beforeModuleSample }}</code></pre>

<p>After:</p>

<pre><code class="language-typescript">{{ afterModuleSample }}</code></pre>

<p>
    2. Add
    <code class="hljs-params inline-highlight language-typescript">alternativeLoadChildren</code>
    and
    <code class="hljs-params inline-highlight language-typescript">featureFlag</code>
    to conditional lazy-load alternative module when
    <code class="hljs-params inline-highlight language-typescript">featureFlag</code>
    returns <code class="inline-highlight language-typescript">true</code>
</p>

<p>Before:</p>

<pre><code class="language-typescript">{{ beforeRoutesSample }}</code></pre>

<p>After:</p>

<pre><code class="language-typescript">{{ afterRoutesSample }}</code></pre>
