@import '../../global';

:host {
    min-height: 100vh;
    width: 100%;
    padding: $spacing;
    @include get-background-color('secondary');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
p {
    text-align: center;
}
