<h1>Basic Example</h1>

<div>
    <button
        [ngClass]="{
            primary: true,
            clear: featureFlag !== FeatureFlag.ON
        }"
        (click)="turnFeatureFlagOn()"
    >
        Turn Feature Flag On
    </button>
    <button
        [ngClass]="{
            primary: true,
            clear: featureFlag === FeatureFlag.ON
        }"
        (click)="turnFeatureFlagOff()"
    >
        Turn Feature Flag Off
    </button>
</div>

<p [class.hide]="featureFlag === FeatureFlag.ON">
    Navigating to Hello World page will lazy-load
    <code class="inline-highlight language-typescript">HelloWorldModule</code>
</p>
<p [class.hide]="featureFlag === FeatureFlag.ON">
    Open up your
    <a href="https://developer.chrome.com/docs/devtools/network/" target="_blank">network tab</a>
    to
    <a href="https://angular.io/guide/lazy-loading-ngmodules#verify-lazy-loading" target="_blank">verify</a>
    that
    <span class="primary">apps_demo_src_app_hello-world_module_ts.xxx.js</span>
    is lazy-loaded
</p>
<p [class.hide]="featureFlag !== FeatureFlag.ON">
    Navigating to Hello World page will lazy-load
    <code class="inline-highlight language-typescript">FeatureModule</code>
</p>
<p [class.hide]="featureFlag !== FeatureFlag.ON">
    Open up your
    <a href="https://developer.chrome.com/docs/devtools/network/" target="_blank">network tab</a>
    to
    <a href="https://angular.io/guide/lazy-loading-ngmodules#verify-lazy-loading" target="_blank">verify</a>
    that
    <span class="primary">apps_demo_src_app_feature_module_ts.xxx.js</span> is lazy-loaded
</p>

<a routerLink="hello-world">Navigate to Hello World page</a>
