<div class="max-large-content-width">
    <h1 class="center-text">ngx-feature-flag-router</h1>
    <p class="center-text">Routes that conditionally lazy-load NgModules based on feature flag</p>

    <div class="black-background">
        <p>Install</p>
        <pre><code class="hljs-params shell">$ npm install ngx-feature-flag-router</code></pre>
        <p>Github</p>
        <p>
            <a href="https://github.com/m-thompson-code/ngx-feature-flag-router#ngx-feature-flag-router" target="_blank"
                >github.com/m-thompson-code/ngx-feature-flag-router</a
            >
        </p>
        <p>Table of Contents</p>
        <p><a (click)="scrollIntoView('demo-how-to')">How to Use</a></p>
        <p><a (click)="scrollIntoView('demo-example')">Basic Example</a></p>
        <p><a (click)="scrollIntoView('demo-api-example')">Service / API Example</a></p>
        <p><a routerLink="how-to-use-with-service">How to Use Service / API</a></p>
    </div>
</div>
