<!-- <h3>Hello world</h3>
<a [routerLink]="['/']">Home</a> | <a [routerLink]="['routes', 'a', form.controls['id'].value]">A</a> |
<a [routerLink]="['routes', 'b', form.controls['id'].value]">B</a> | <a [routerLink]="['other', 'c', form.controls['id'].value]">C</a> |
<a [routerLink]="['other', 'd', form.controls['id'].value]">D</a> | <a [routerLink]="['root', 'e', form.controls['id'].value]">E</a> |
<a [routerLink]="['root', 'f', form.controls['id'].value]">F</a> | <a [routerLink]="['moar', 'g', form.controls['id'].value]">G</a> |
<a [routerLink]="['moar', 'h', form.controls['id'].value]">H</a> | <a [routerLink]="['even-moar', 'i', form.controls['id'].value]">I</a> |
<a [routerLink]="['even-moar', 'j', form.controls['id'].value]">J</a>

<div>
    <button (click)="setFeatureFlag(DemoRoute.A, FeatureFlag.ON)">A Feature Flag ON</button>
    |
    <button (click)="setFeatureFlag(DemoRoute.A, FeatureFlag.OFF)">A Feature Flag OFF</button>
</div>
<div>
    <button (click)="setFeatureFlag(DemoRoute.C, FeatureFlag.ON)">C Feature Flag ON</button>
    |
    <button (click)="setFeatureFlag(DemoRoute.C, FeatureFlag.OFF)">C Feature Flag OFF</button>
</div>
<div>
    <button (click)="setFeatureFlag(DemoRoute.E, FeatureFlag.ON)">E Feature Flag ON</button>
    |
    <button (click)="setFeatureFlag(DemoRoute.E, FeatureFlag.OFF)">E Feature Flag OFF</button>
</div>
<div>
    <button (click)="setFeatureFlag(DemoRoute.G, FeatureFlag.ON)">G Feature Flag ON</button>
    |
    <button (click)="setFeatureFlag(DemoRoute.G, FeatureFlag.OFF)">G Feature Flag OFF</button>
</div>
<div>
    <button (click)="setFeatureFlag(DemoRoute.I, FeatureFlag.ON)">I Feature Flag ON</button>
    |
    <button (click)="setFeatureFlag(DemoRoute.I, FeatureFlag.OFF)">I Feature Flag OFF</button>
</div>

<form [formGroup]="form">
    <input formControlName="id" type="text" placeholder="id" />
</form> -->

<router-outlet></router-outlet>
